<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="repositoryPath" value="..\DirectoryAnalyser\packages" />
	<add key="repositoryPath" value="..\DirectoryAnalyser.Tests\packages" />
  </config>
  <packageSources>
    
	
	

	
  </packageSources>
</configuration>